flows_raspberrypi.json
[{"id":"7e760aaf.3f62d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b3eb65a.f1263","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e2c3cf9.f2b2ec","type":"tab","label":"Pzem > Influx","disabled":false,"info":""},{"id":"81be9764.1b9408","type":"tab","label":"Brodna > Influx","disabled":false,"info":""},{"id":"2fdff288.a3e5be","type":"tab","label":"McLighting Proxy","disabled":false,"info":""},{"id":"e30687d4.0d07a","type":"tab","label":"Keypad solution ","disabled":true,"info":""},{"id":"537f3741.f6f94","type":"tab","label":"NVR","disabled":true,"info":""},{"id":"85441ccc.28687","type":"ui_group","z":"","name":"Group 1","tab":"25d8deaa.a56962","order":1,"disp":false,"width":"6"},{"id":"6aad82d.b027efc","type":"mqtt-broker","z":"","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25d8deaa.a56962","type":"ui_tab","z":"","name":"PIEC Drogheda","icon":"fa-refresh fa-spin","order":1},{"id":"63caa4bd.13f3a4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e572714.5ad578","type":"influxdb","z":"7e760aaf.3f62d4","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humid_temp","name":"","usetls":false,"tls":""},{"id":"9c16df22.8dcaf","type":"mqtt-broker","z":"","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"348ff4ab.dcd6f4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humid_temp","name":"","usetls":false,"tls":""},{"id":"eb370022.1033f8","type":"influxdb","z":"6b3eb65a.f1263","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"605e68c1.fa42b8","type":"influxdb","z":"6b3eb65a.f1263","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"6356f0f1.b77498","type":"influxdb","z":"6b3eb65a.f1263","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"64219633.9a63a","type":"influxdb","z":"6b3eb65a.f1263","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"88aff14b.0f58a","type":"influxdb","z":"6b3eb65a.f1263","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"7517ac3e.bdab24","type":"mqtt-broker","z":"","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"670ed7ae.6d87b","type":"influxdb","z":"","hostname":"192.168.1.101","port":"8086","protocol":"http","database":"sensorbrodna","name":"","usetls":false,"tls":""},{"id":"1413e822.795ee8","type":"influxdb","z":"","hostname":"192.168.1.101","port":"8086","protocol":"http","database":"pzem","name":"","usetls":false,"tls":""},{"id":"14acba7a.c871ae","type":"ui_group","z":"","name":"Group 2","tab":"ee9c640.acf8aa","order":1,"disp":true,"width":"6"},{"id":"ee9c640.acf8aa","type":"ui_tab","z":"","name":"PZEM004T","icon":"fa-refresh fa-spin","order":3},{"id":"64f4196.9bad8e8","type":"ui_group","z":"","name":"Keypad","tab":"bd18c9c2.98f4c","order":5,"disp":true,"width":"6"},{"id":"bd18c9c2.98f4c","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard"},{"id":"987b6024.872ad","type":"alexa-home-conf","z":"","username":"sylwek75"},{"id":"f18ab300.bdff1","type":"websocket-listener","z":"2fdff288.a3e5be","path":"/mclighting/ws","wholemsg":"false"},{"id":"c9f3a881.f8e5d8","type":"websocket-client","z":"","path":"ws://192.168.1.104","tls":"","wholemsg":"false"},{"id":"57d23fa8.ce4608","type":"websocket-client","z":"","path":"ws://192.168.1.104:81/","tls":"","wholemsg":"false"},{"id":"ee04fd2f.bf8098","type":"influxdb","z":"","hostname":"192.168.1.101","port":"8086","protocol":"http","database":"sensordrogheda","name":"","usetls":false,"tls":""},{"id":"ab715aae.06345","type":"ui_group","z":"","name":"Frame Grab","tab":"8cc967eb.6f9fa","order":1,"disp":true,"width":"6"},{"id":"592a4e0c.ae1258","type":"ui_group","z":"","name":"Frame Statistics","tab":"8cc967eb.6f9fa","order":2,"disp":true,"width":"6"},{"id":"85527262.2f767","type":"ui_group","z":"","name":"Video Capture","tab":"8cc967eb.6f9fa","order":3,"disp":true,"width":"6"},{"id":"25ef8b16.7c86a4","type":"ui_group","z":"","name":"Video Statistics","tab":"8cc967eb.6f9fa","order":4,"disp":true,"width":"6"},{"id":"3758c297.89a576","type":"ui_group","z":"","name":"Report","tab":"8cc967eb.6f9fa","order":5,"disp":true,"width":"12"},{"id":"8cc967eb.6f9fa","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"2880e190.648516","type":"ui_group","z":"","name":"Frame Grab","tab":"ceb549ca.19b8e","order":1,"disp":true,"width":"6"},{"id":"efec529b.fa22e8","type":"ui_group","z":"","name":"Frame Statistics","tab":"ceb549ca.19b8e","order":2,"disp":true,"width":"6"},{"id":"fd08fb57.09244","type":"ui_group","z":"","name":"Video Capture","tab":"ceb549ca.19b8e","order":3,"disp":true,"width":"6"},{"id":"c41588bb.6fb41","type":"ui_group","z":"","name":"Video Statistics","tab":"ceb549ca.19b8e","order":4,"disp":true,"width":"6"},{"id":"323ffc9d.e0bd6c","type":"ui_group","z":"","name":"Report","tab":"ceb549ca.19b8e","order":5,"disp":true,"width":"12"},{"id":"ceb549ca.19b8e","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"b69621d1.fbcc18","type":"ui_button","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":10,"width":"0","height":"0","passthru":true,"label":"PIEC Stop","tooltip":"","color":"","bgcolor":"DarkRed","icon":"stop","payload":"1","payloadType":"num","topic":"","x":390,"y":640,"wires":[["31372fd7.49d1b8","a9320813.32faa","ae5e4b6c.06a058","66557a3d.a72d04"]]},{"id":"27e9aa2d.f816ee","type":"debug","z":"7e760aaf.3f62d4","name":"temp/sensor0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":1120,"wires":[]},{"id":"9bef31f3.1b6008","type":"ui_button","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":1,"width":"3","height":"1","passthru":true,"label":"Start 30 min","tooltip":"","color":"","bgcolor":"green","icon":"fa-play","payload":"0","payloadType":"num","topic":"","x":390,"y":520,"wires":[["31372fd7.49d1b8"]],"inputLabels":["input"],"outputLabels":["output"]},{"id":"fc61139.cec4af","type":"ui_gauge","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":5,"width":"3","height":"2","gtype":"gage","title":"Woda do kapania","label":"°C ","format":"{{value | number:1}}","min":"20","max":"50","colors":["#000000","#80ffff","#ca3838"],"seg1":"","seg2":"","x":490,"y":1120,"wires":[]},{"id":"7011fb76.e62fbc","type":"debug","z":"7e760aaf.3f62d4","name":"temp/sensor1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":1360,"wires":[]},{"id":"74fae4d.147849c","type":"ui_gauge","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":6,"width":"3","height":"2","gtype":"gage","title":"Woda PIECA","label":"°C ","format":"{{value | number:1}}","min":"25","max":"60","colors":["#00ff00","#ff8000","#ca3838"],"seg1":"","seg2":"","x":470,"y":1360,"wires":[]},{"id":"d18cb943.80ba6","type":"ui_button","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":2,"width":"3","height":"1","passthru":true,"label":"Start 2 H","color":"","bgcolor":"DarkGreen","icon":"fa-forward","payload":"0","payloadType":"num","topic":"","x":380,"y":580,"wires":[["a9320813.32faa"]]},{"id":"e417c688.e8aeb8","type":"debug","z":"7e760aaf.3f62d4","name":"wyslij MQTT - 0 lub 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1280,"y":700,"wires":[]},{"id":"721e5416.4339b4","type":"mqtt in","z":"7e760aaf.3f62d4","name":"","topic":"temperature/sensor0","qos":"2","broker":"6aad82d.b027efc","x":180,"y":1160,"wires":[["27e9aa2d.f816ee","fc61139.cec4af","92f334e7.405a18","73ff0fc7.9a594","50c6c79a.d5bff8","870f7349.8f506"]]},{"id":"335896fa.81575a","type":"mqtt in","z":"7e760aaf.3f62d4","name":"","topic":"temperature/sensor1","qos":"2","broker":"6aad82d.b027efc","x":180,"y":1400,"wires":[["74fae4d.147849c","7011fb76.e62fbc","12e4c7c3.d8afc","c6730cf4.e661"]]},{"id":"ae5e4b6c.06a058","type":"mqtt out","z":"7e760aaf.3f62d4","name":"","topic":"/test/light1","qos":"2","retain":"true","broker":"6aad82d.b027efc","x":1230,"y":640,"wires":[]},{"id":"f4be7ae6.49a0d","type":"mqtt in","z":"7e760aaf.3f62d4","name":"","topic":"/test/confirm","qos":"2","broker":"6aad82d.b027efc","x":150,"y":880,"wires":[["ff9d4615.efa1"]]},{"id":"79bea0b9.856c4","type":"inject","z":"7e760aaf.3f62d4","name":"","topic":"","payload":"1","payloadType":"flow","repeat":"","crontab":"","once":false,"x":210,"y":520,"wires":[["9bef31f3.1b6008"]]},{"id":"a0cee56.2b3f498","type":"inject","z":"7e760aaf.3f62d4","name":"","topic":"","payload":"0","payloadType":"flow","repeat":"","crontab":"","once":false,"x":210,"y":640,"wires":[["b69621d1.fbcc18"]]},{"id":"31372fd7.49d1b8","type":"trigger","z":"7e760aaf.3f62d4","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"30","extend":true,"units":"min","reset":"1","bytopic":"all","name":"","x":770,"y":520,"wires":[["ae5e4b6c.06a058","66557a3d.a72d04"]]},{"id":"37ee637d.e895f4","type":"inject","z":"7e760aaf.3f62d4","name":"","topic":"","payload":"1","payloadType":"flow","repeat":"","crontab":"","once":false,"x":210,"y":580,"wires":[["d18cb943.80ba6"]]},{"id":"a9320813.32faa","type":"trigger","z":"7e760aaf.3f62d4","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"2","extend":true,"units":"hr","reset":"1","name":"","x":770,"y":600,"wires":[["ae5e4b6c.06a058","66557a3d.a72d04"]]},{"id":"329a588e.6aa9","type":"ui_text","z":"7e760aaf.3f62d4","group":"85441ccc.28687","order":7,"width":"2","height":"1","name":"","label":"od:","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1040,"wires":[]},{"id":"cf6142f7.4aaf3","type":"function","z":"7e760aaf.3f62d4","name":"czas HH:MM:SS","func":"var d = new Date();\n\n    dformat = \n        \n    // [ d.getMonth()+1,\n\n    // d.getDate(),\n\n    // d.getFullYear()].join('/')+' '+\n\n    [('0' + d.getHours()).slice(-2),\n\n    (('0' + d.getMinutes()).slice(-2))].join(':');\n\n    // (('0' + d.getSeconds()).slice(-2))].join(':');\n\n    \n\nmsg.payload = dformat;\n\nreturn msg;\n\n\n// d.getSeconds()].join(':');","outputs":1,"noerr":0,"x":380,"y":1000,"wires":[["d85001a3.bda3c","329a588e.6aa9"]]},{"id":"d85001a3.bda3c","type":"debug","z":"7e760aaf.3f62d4","name":"od godziny:","active":true,"console":"false","complete":"payload","x":550,"y":1000,"wires":[]},{"id":"5d38b76d.03f43","type":"debug","z":"7e760aaf.3f62d4","name":"PIEC WLACZONY / piec wylaczony","active":true,"console":"false","complete":"payload","x":440,"y":920,"wires":[]},{"id":"3923358d.3e259a","type":"ui_text","z":"7e760aaf.3f62d4","group":"85441ccc.28687","order":8,"width":"4","height":"1","name":"PIEC WLACZONY / piec wylaczony","label":"","format":"{{msg.payload}}","layout":"col-center","x":440,"y":960,"wires":[]},{"id":"92f334e7.405a18","type":"function","z":"7e760aaf.3f62d4","name":"czas HH:MM","func":"var d = new Date();\n\n    dformat = \n        \n    // [ d.getMonth()+1,\n\n    // d.getDate(),\n\n    // d.getFullYear()].join('/')+' '+\n\n    [('0' + d.getHours()).slice(-2),\n\n    ('0' + d.getMinutes()).slice(-2)].join(':');   \n\nmsg.payload = dformat;\n\nreturn msg;\n\n\n// d.getSeconds()].join(':');","outputs":1,"noerr":0,"x":470,"y":1160,"wires":[["315dafbc.ebeb78"]]},{"id":"315dafbc.ebeb78","type":"ui_text","z":"7e760aaf.3f62d4","group":"85441ccc.28687","order":3,"width":"3","height":"1","name":"","label":"odczyt z: ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1160,"wires":[]},{"id":"12e4c7c3.d8afc","type":"function","z":"7e760aaf.3f62d4","name":"czas HH:MM","func":"var d = new Date();\n\n    dformat = \n        \n    // [ d.getMonth()+1,\n\n    // d.getDate(),\n\n    // d.getFullYear()].join('/')+' '+\n\n    [('0' + d.getHours()).slice(-2),\n\n    ('0' + d.getMinutes()).slice(-2)].join(':');   \n\nmsg.payload = dformat;\n\nreturn msg;\n\n\n// d.getSeconds()].join(':');","outputs":1,"noerr":0,"x":470,"y":1400,"wires":[["ab4ef5ff.e3ed"]]},{"id":"ab4ef5ff.e3ed","type":"ui_text","z":"7e760aaf.3f62d4","group":"85441ccc.28687","order":4,"width":"3","height":"1","name":"","label":"odczyt z: ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1400,"wires":[]},{"id":"b8abb297.05c56","type":"debug","z":"7e760aaf.3f62d4","name":"","active":false,"console":"false","complete":"true","x":1010,"y":1820,"wires":[]},{"id":"d0df844.8f31f78","type":"function","z":"7e760aaf.3f62d4","name":"Bump Counter","func":"var d = new Date();\n\n\n// ONLY PROCESS BETWEEN 1AM AND 23PM ET\n\nif ((d.getHours() > 1) && (d.getHours()<23)) msg.process = 1;\n\n// check now if its Sat or Sun - if so dont process\n\nif (msg.process == 1) {\n    if (d.getDay() == 1) msg.process = 0;\n    if (d.getDay() == 3) msg.process = 0;\n}\n\nmsg.i = msg.i + 1;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1820,"wires":[["b8abb297.05c56","dd1d9b13.85183"]]},{"id":"e6d1f4c.3eeee08","type":"delay","z":"7e760aaf.3f62d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1740,"wires":[[]]},{"id":"dd1d9b13.85183","type":"switch","z":"7e760aaf.3f62d4","name":"","property":"process","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":830,"y":1720,"wires":[["7b8464bb.479b3c"],["e6d1f4c.3eeee08","a49df5c2.4e7ac"]]},{"id":"a49df5c2.4e7ac","type":"debug","z":"7e760aaf.3f62d4","name":"","active":false,"console":"false","complete":"true","x":1010,"y":1700,"wires":[]},{"id":"7b8464bb.479b3c","type":"ui_toast","z":"7e760aaf.3f62d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"not OK","topic":"","name":"Untitled Theme 1","x":970,"y":1620,"wires":[["b9cbe3cd.fe2ef"]]},{"id":"b9cbe3cd.fe2ef","type":"ui_toast","z":"7e760aaf.3f62d4","position":"bottom left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"not OK","topic":"","name":"","x":1170,"y":1620,"wires":[]},{"id":"906915b2.f3b6f","type":"mqtt in","z":"7e760aaf.3f62d4","name":"","topic":"/test/flame","qos":"2","broker":"6aad82d.b027efc","x":760,"y":900,"wires":[["7ab3dfcf.9a9778"]]},{"id":"3bc25fcd.c4ac08","type":"debug","z":"7e760aaf.3f62d4","name":"Flame ON / OFF","active":true,"console":"false","complete":"payload","x":1150,"y":920,"wires":[]},{"id":"66557a3d.a72d04","type":"function","z":"7e760aaf.3f62d4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":700,"wires":[["e417c688.e8aeb8"]]},{"id":"ff9d4615.efa1","type":"delay","z":"7e760aaf.3f62d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":940,"wires":[["2d5dbfdd.088b28"]]},{"id":"7ab3dfcf.9a9778","type":"delay","z":"7e760aaf.3f62d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":780,"y":960,"wires":[["c991f5e2.0ab768"]]},{"id":"768013f1.d6dbac","type":"comment","z":"7e760aaf.3f62d4","name":"dwa ponizsze mqqt do poprawki aby ograniczyc tylko do zmiany statusu","info":"","x":330,"y":820,"wires":[]},{"id":"2182b650.f5235a","type":"function","z":"7e760aaf.3f62d4","name":"0 or 1 only","func":"if (msg.payload==\"PLOMIEN ON\") {\n    msg.payload = 1;\n}\nif (msg.payload==\"plomien off\") {\n    msg.payload = 0;\n} \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1020,"wires":[["16849fac.37a088"]]},{"id":"b423b4b2.2b2ce8","type":"debug","z":"7e760aaf.3f62d4","name":"wykes plomienia 6h","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":1080,"wires":[]},{"id":"c991f5e2.0ab768","type":"rbe","z":"7e760aaf.3f62d4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":790,"y":1020,"wires":[["2182b650.f5235a","3bc25fcd.c4ac08"]]},{"id":"2d5dbfdd.088b28","type":"rbe","z":"7e760aaf.3f62d4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":1000,"wires":[["5d38b76d.03f43","3923358d.3e259a","cf6142f7.4aaf3"]]},{"id":"16849fac.37a088","type":"ui_chart","z":"7e760aaf.3f62d4","name":"","group":"85441ccc.28687","order":9,"width":"6","height":"2","label":"Wykres plomienia (6 h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"Plomien sie zmienia !!","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ffff00","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1230,"y":1020,"wires":[["b423b4b2.2b2ce8"],[]]},{"id":"ba9e105e.606718","type":"influxdb out","z":"7e760aaf.3f62d4","influxdb":"3e572714.5ad578","name":"","measurement":"value","precision":"","retentionPolicy":"","x":1300,"y":980,"wires":[]},{"id":"fad59995.8e992","type":"mqtt in","z":"6b3eb65a.f1263","name":"","topic":"temperature/sensor2","qos":"2","broker":"9c16df22.8dcaf","x":140,"y":920,"wires":[["25cc07a5.538568"]]},{"id":"d908dee2.df698","type":"mqtt in","z":"6b3eb65a.f1263","name":"","topic":"temperature/sensor3","qos":"2","broker":"9c16df22.8dcaf","x":140,"y":1020,"wires":[["dcb1855b.85a4f8"]]},{"id":"25cc07a5.538568","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":390,"y":920,"wires":[]},{"id":"dcb1855b.85a4f8","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":390,"y":1020,"wires":[]},{"id":"4d3ee02a.bbf63","type":"comment","z":"6b3eb65a.f1263","name":"Thermostat PLAN","info":"OK  1. Get temps from sensor 2 and 3\nX   2. Write Data to influxdb\nX   3. Collect temperture set by user and compare with last reading in influxdb\n?   4. ","x":130,"y":820,"wires":[]},{"id":"40b2cc4b.e263f4","type":"influxdb in","z":"6b3eb65a.f1263","influxdb":"348ff4ab.dcd6f4","name":"","query":"SELECT * FROM measures","rawOutput":false,"precision":"","retentionPolicy":"","x":970,"y":860,"wires":[["3acb9d09.d198ca"]]},{"id":"5e5c20e8.33e88","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640,"y":860,"wires":[["40b2cc4b.e263f4"]]},{"id":"3acb9d09.d198ca","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"payload","x":1300,"y":860,"wires":[]},{"id":"4eea5144.95678","type":"influxdb in","z":"6b3eb65a.f1263","influxdb":"348ff4ab.dcd6f4","name":"","query":"SELECT * FROM measures","rawOutput":false,"precision":"","retentionPolicy":"","x":970,"y":920,"wires":[["bec91653.017578"]]},{"id":"aec3c85e.118ef8","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640,"y":920,"wires":[["4eea5144.95678"]]},{"id":"bec91653.017578","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":1300,"y":920,"wires":[]},{"id":"e43d89d7.4107f8","type":"influxdb in","z":"6b3eb65a.f1263","influxdb":"eb370022.1033f8","name":"time query","query":"select * from test;","rawOutput":false,"precision":"","retentionPolicy":"","x":790,"y":1020,"wires":[["13effe65.22e4aa"]]},{"id":"4c04f0b7.944158","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":639,"y":1020,"wires":[["e43d89d7.4107f8"]]},{"id":"13effe65.22e4aa","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":972,"y":1020,"wires":[]},{"id":"6536c32a.8c06d4","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640,"y":1120,"wires":[["25af2d72.318c1a"]]},{"id":"25af2d72.318c1a","type":"function","z":"6b3eb65a.f1263","name":"simple query","func":"msg.query=\"select * from test;\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1120,"wires":[["79897021.eb055"]]},{"id":"79897021.eb055","type":"influxdb in","z":"6b3eb65a.f1263","influxdb":"605e68c1.fa42b8","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":963,"y":1120,"wires":[["896c501c.4990e8"]]},{"id":"896c501c.4990e8","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":1121,"y":1120,"wires":[]},{"id":"fd101244.f8aab","type":"influxdb out","z":"6b3eb65a.f1263","influxdb":"6356f0f1.b77498","name":"","measurement":"test","precision":"","retentionPolicy":"","x":990,"y":1200,"wires":[]},{"id":"64dc399f.ea98d8","type":"function","z":"6b3eb65a.f1263","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":807,"y":1228,"wires":[["fd101244.f8aab"]]},{"id":"8f050db5.17699","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":663,"y":1203,"wires":[["64dc399f.ea98d8"]]},{"id":"7a86d26a.3651a4","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640,"y":1320,"wires":[["c6786081.e2758"]]},{"id":"c6786081.e2758","type":"function","z":"6b3eb65a.f1263","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":788,"y":1320,"wires":[["8fc9db4d.4776b8"]]},{"id":"8fc9db4d.4776b8","type":"influxdb out","z":"6b3eb65a.f1263","influxdb":"64219633.9a63a","name":"","measurement":"test","precision":"","retentionPolicy":"","x":958,"y":1320,"wires":[]},{"id":"8e732ed.fef79d","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640,"y":1380,"wires":[["1fd25e9f.dbf311"]]},{"id":"1fd25e9f.dbf311","type":"function","z":"6b3eb65a.f1263","name":"Fields and Tags","func":"msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":811,"y":1380,"wires":[["63237f12.edcea"]]},{"id":"63237f12.edcea","type":"influxdb out","z":"6b3eb65a.f1263","influxdb":"88aff14b.0f58a","name":"","measurement":"test","precision":"","retentionPolicy":"","x":999,"y":1380,"wires":[]},{"id":"f6ae70f1.697988","type":"influxdb batch","z":"6b3eb65a.f1263","influxdb":"348ff4ab.dcd6f4","precision":"","retentionPolicy":"","name":"","x":1320,"y":1300,"wires":[]},{"id":"1cff12f0.50d8a5","type":"influxdb out","z":"6b3eb65a.f1263","influxdb":"348ff4ab.dcd6f4","name":"","measurement":"","precision":"","retentionPolicy":"","x":1320,"y":1260,"wires":[]},{"id":"7160c1bb.89cc68","type":"comment","z":"6b3eb65a.f1263","name":"Pompa wody zalezna od wilgotnosci gleby","info":"","x":220,"y":1440,"wires":[]},{"id":"fb757a5f.e987c","type":"rpi-gpio out","z":"6b3eb65a.f1263","name":"PWM out to 1#L298N","pin":"37","set":"","level":"0","freq":"30000","out":"pwm","x":360,"y":1500,"wires":[]},{"id":"be7b4baf.d0a2d","type":"mqtt in","z":"7e2c3cf9.f2b2ec","name":"","topic":"/pzem/voltage","qos":"2","broker":"7517ac3e.bdab24","x":130,"y":60,"wires":[["3cf204f9.69460c"]]},{"id":"d993c11.fa12a4","type":"debug","z":"7e2c3cf9.f2b2ec","name":"","active":false,"console":"false","complete":"true","x":890,"y":180,"wires":[]},{"id":"55ab6c64.b3e774","type":"mqtt in","z":"7e2c3cf9.f2b2ec","name":"","topic":"/pzem/current","qos":"2","broker":"7517ac3e.bdab24","x":130,"y":140,"wires":[["2ad96cb7.68f614"]]},{"id":"4da0d051.6a5e08","type":"mqtt in","z":"7e2c3cf9.f2b2ec","name":"","topic":"/pzem/power","qos":"2","broker":"7517ac3e.bdab24","x":130,"y":220,"wires":[["ebe78f49.cfce2"]]},{"id":"25db46f5.322c0a","type":"mqtt in","z":"7e2c3cf9.f2b2ec","name":"","topic":"/pzem/energy","qos":"2","broker":"7517ac3e.bdab24","x":130,"y":300,"wires":[["8dabf508.9339d8"]]},{"id":"dfdd29a1.252018","type":"rbe","z":"7e2c3cf9.f2b2ec","name":"block if change < 10","func":"deadband","gap":"10","start":"","inout":"out","property":"payload","x":680,"y":220,"wires":[["d993c11.fa12a4","3d3520ad.cfe6d"]]},{"id":"3d3520ad.cfe6d","type":"influxdb out","z":"7e2c3cf9.f2b2ec","influxdb":"1413e822.795ee8","name":"","measurement":"power","precision":"","retentionPolicy":"","x":1160,"y":220,"wires":[]},{"id":"92e1db3d.b8547","type":"rbe","z":"7e2c3cf9.f2b2ec","name":"block the same value","func":"rbe","gap":"1","start":"","inout":"out","x":680,"y":300,"wires":[["d993c11.fa12a4","deb39cff.fb59b"]]},{"id":"deb39cff.fb59b","type":"influxdb out","z":"7e2c3cf9.f2b2ec","influxdb":"1413e822.795ee8","name":"","measurement":"energy_int","precision":"","retentionPolicy":"","x":1170,"y":300,"wires":[]},{"id":"ebe78f49.cfce2","type":"function","z":"7e2c3cf9.f2b2ec","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\n\nlet d = new Date();\ndformat =\n[d.getDate(),\nd.getMonth()+1,\nd.getFullYear()].join('/')+' '+\n[('0' + d.getHours()).slice(-2),\n('0' + d.getMinutes()).slice(-2),\n('0' + d.getSeconds()).slice(-2)].join(':');\n\nnode.status({fill:\"green\", shape:\"dot\", text: dformat + \" > \" + msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["dfdd29a1.252018","bdcad99.8752028"]]},{"id":"8dabf508.9339d8","type":"function","z":"7e2c3cf9.f2b2ec","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["92e1db3d.b8547","36faab34.374864","739e8041.c22a78","30f0dad.041ee26","b957535f.4aeaf"]]},{"id":"3cf204f9.69460c","type":"function","z":"7e2c3cf9.f2b2ec","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["67459459.c2436c"]]},{"id":"2ad96cb7.68f614","type":"function","z":"7e2c3cf9.f2b2ec","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["9d5b304f.49814"]]},{"id":"67459459.c2436c","type":"ui_gauge","z":"7e2c3cf9.f2b2ec","name":"","group":"14acba7a.c871ae","order":1,"width":"3","height":"3","gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":"230","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":60,"wires":[]},{"id":"9d5b304f.49814","type":"ui_gauge","z":"7e2c3cf9.f2b2ec","name":"","group":"14acba7a.c871ae","order":2,"width":"3","height":"3","gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":140,"wires":[]},{"id":"bdcad99.8752028","type":"ui_gauge","z":"7e2c3cf9.f2b2ec","name":"","group":"14acba7a.c871ae","order":3,"width":"3","height":"3","gtype":"gage","title":"Power","label":"W","format":"{{value}}","min":"0","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":260,"wires":[]},{"id":"36faab34.374864","type":"ui_text","z":"7e2c3cf9.f2b2ec","group":"14acba7a.c871ae","order":4,"width":"3","height":"3","name":"","label":"Energy meter","format":"{{msg.payload}}","layout":"col-center","x":660,"y":340,"wires":[]},{"id":"4b9f71e7.f3d06","type":"alexa-local","z":"e30687d4.0d07a","devicename":"Test shades","inputtrigger":false,"x":470,"y":340,"wires":[["338b03cf.7b69e4"]]},{"id":"338b03cf.7b69e4","type":"debug","z":"e30687d4.0d07a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":340,"wires":[]},{"id":"855329f9.9349c8","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 1","order":1,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '1' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">1</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":80,"wires":[["a2599a66.e72fb8"]]},{"id":"ec523a7d.6a49d","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 6","order":6,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '6'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-6\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">6</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":120,"wires":[["a2599a66.e72fb8"]]},{"id":"616e72d6.0c53b4","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 3","order":3,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '3' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-3\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">3</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":80,"wires":[["a2599a66.e72fb8"]]},{"id":"c4c83176.b13e38","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 4","order":4,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '4'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-4\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">4</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":120,"wires":[["a2599a66.e72fb8"]]},{"id":"fbeb6bd0.2d7d5","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 5","order":5,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '5'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-5\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">5</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":120,"wires":[["a2599a66.e72fb8"]]},{"id":"6cd961e3.61064","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 7","order":7,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '7'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-7\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">7</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":160,"wires":[["a2599a66.e72fb8"]]},{"id":"6cac1866.298bd","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 2","order":2,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '2' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-2\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">2</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":80,"wires":[["a2599a66.e72fb8"]]},{"id":"507126a.b78b158","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 8","order":8,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '8'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-8\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">8</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":160,"wires":[["a2599a66.e72fb8"]]},{"id":"49cdaa0c.80a1dc","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 9","order":9,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '9'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-9\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">9</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":160,"wires":[["a2599a66.e72fb8"]]},{"id":"898585fb.92b6e","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key *","order":10,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '*'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-Reset\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Reset</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"50\" y=\"250\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 250px; font-family: Arial;\">*</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":200,"wires":[["a2599a66.e72fb8"]]},{"id":"547648b3.19bf9","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key 0","order":11,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '0'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-0\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">0</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":200,"wires":[["a2599a66.e72fb8"]]},{"id":"c6e80582.78987","type":"ui_template","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","name":"Key #","order":12,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '#'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-Enter\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Enter</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">#</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":570,"y":200,"wires":[["a2599a66.e72fb8"]]},{"id":"a92d816b.349e38","type":"ui_text","z":"e30687d4.0d07a","group":"64f4196.9bad8e8","order":13,"width":0,"height":0,"name":"keys pressed","label":"Number:","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":80,"wires":[]},{"id":"a2599a66.e72fb8","type":"function","z":"e30687d4.0d07a","name":"code entry","func":"var key = msg.payload;\nvar out = context.get(\"code\") || \"\";\n\nif (key === \"#\") {\n    key = \"\"; // send code\n}\nelse if (key === \"*\") {\n    key = \"\"; // reset code\n    out = \"\";\n}\nelse if (!isNaN(+key)) {\n    out += key; // append key\n}\ncontext.set(\"code\", key ? out : undefined);\n\n// output #1: keys entered\n// output #2: completed code\nmsg.payload = out;\nreturn [\n    key ? msg : {payload: \"\"},\n    out ? msg : null\n];","outputs":2,"noerr":0,"x":750,"y":140,"wires":[["a92d816b.349e38"],["be387241.a13898"]],"outputLabels":["last key number","completed code"]},{"id":"be387241.a13898","type":"debug","z":"e30687d4.0d07a","name":"code entered","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":790,"y":200,"wires":[]},{"id":"999ad53a.09adc","type":"alexa-home","z":"7e760aaf.3f62d4","conf":"987b6024.872ad","device":"49415","acknoledge":false,"name":"oven","topic":"oven control","x":130,"y":200,"wires":[["2b8fc093.983b1","3b7ec28d.306c86"]]},{"id":"2b8fc093.983b1","type":"switch","z":"7e760aaf.3f62d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":240,"wires":[["9bef31f3.1b6008","cc38aa49.84a7a8"],["b69621d1.fbcc18","cc38aa49.84a7a8","71068041.708be"],["cc38aa49.84a7a8","73ff0fc7.9a594","71068041.708be"]]},{"id":"cc38aa49.84a7a8","type":"alexa-home-resp","z":"7e760aaf.3f62d4","x":800,"y":300,"wires":[]},{"id":"fa7b2cca.3d4dc8","type":"function","z":"7e760aaf.3f62d4","name":"","func":"if (msg.payload < 10 || msg.payload > 30) {\n    var range = {\n        min: 10.0,\n        max: 30.0\n    }\n    msg.payload = false;\n    msg.extra = range;\n    \n\n} else {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload\n        }\n    };\n    msg.payload = true;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["e06ee28d.4a756"]]},{"id":"3b7ec28d.306c86","type":"debug","z":"7e760aaf.3f62d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":140,"wires":[]},{"id":"25107f04.82b9f","type":"inject","z":"7e760aaf.3f62d4","name":"","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":140,"wires":[["fa7b2cca.3d4dc8"]]},{"id":"e06ee28d.4a756","type":"debug","z":"7e760aaf.3f62d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":200,"wires":[]},{"id":"71068041.708be","type":"debug","z":"7e760aaf.3f62d4","name":"oven Alexa output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":380,"wires":[]},{"id":"73ff0fc7.9a594","type":"function","z":"7e760aaf.3f62d4","name":"","func":"// msg.data = Number(msg.payload);\nreturn msg;\n\nmsg.extra = {\n    \"temperatureReading\": {\n        \"value\": 23\n    },\n    \"applianceResponseTimestamp\": new Date().toISOString()\n};\nmsg.payload = true;\nreturn msg; ","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["71068041.708be"]]},{"id":"4fdee411.3e8cfc","type":"http response","z":"2fdff288.a3e5be","name":"","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"85472a36.84eb78","type":"http in","z":"2fdff288.a3e5be","name":"","url":"/mclighting","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["1ce2db0e.f0112d"]]},{"id":"1ce2db0e.f0112d","type":"template","z":"2fdff288.a3e5be","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<!--Import Google Icon Font-->\n\t\t<link href=\"http://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n\t\t<!--Import materialize.css-->\n\t\t<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css\" media=\"screen,projection\" />\n\n\t\t<!--Let browser know website is optimized for mobile-->\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\"/>\n\t\t<meta charset=\"utf-8\"/>\n\t\t<title>McLighting v2</title>\n\t</head>\n\n\t<body>\n\t\t<nav class=\"blue light-blueXXX lighten-1XXX\" role=\"navigation\" id=\"mc-nav\">\n\t\t\t<div class=\"nav-wrapper container\">\n\t\t\t\t<a id=\"logo-container\" href=\"#\" class=\"brand-logo\">Mc Lighting v2</a>\n\n\t\t\t\t<ul class=\"right hide-on-med-and-down\">\n\t\t\t\t\t<li><a href=\"#\" class=\"mc-navlink\" data-pane=\"pane1\">Wheel</a></li>\n\t\t\t\t\t<li><a href=\"#\" class=\"mc-navlink\" data-pane=\"pane2\">Modes</a></li>\n\t\t\t\t</ul>\n\n\t\t\t\t<ul id=\"nav-mobile\" class=\"side-nav\">\n\t\t\t\t\t<li><a href=\"#\" class=\"mc-navlink\" data-pane=\"pane1\">Wheel</a></li>\n\t\t\t\t\t<li><a href=\"#\" class=\"mc-navlink\" data-pane=\"pane2\">Modes</a></li>\n\t\t\t\t</ul>\n\t\t\t\t<a href=\"#\" data-activates=\"nav-mobile\" class=\"button-collapse\"><i class=\"material-icons\">menu</i></a>\n\t\t\t</div>\n\t\t</nav>\n\t\t\n\t\t<div class=\"container mc_pane\" id=\"pane0\">\n\t\t\t<div class=\"section\">\n\t\t\t\t<div class=\"row\" id=\"mc-wsloader\">\n\t\t\t\t\t<div class=\"col\">\n\t\t\t\t\t\t<div class=\"preloader-wrapper active\">\n\t\t\t\t\t\t\t<div class=\"spinner-layer spinner-blue-only\">\n\t\t\t\t\t\t\t\t<div class=\"circle-clipper left\">\n\t\t\t\t\t\t\t\t\t<div class=\"circle\"></div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"gap-patch\">\n\t\t\t\t\t\t\t\t\t<div class=\"circle\"></div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"circle-clipper right\">\n\t\t\t\t\t\t\t\t\t<div class=\"circle\"></div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row hide\" id=\"mc-wserror\">\n\t\t\t\t\t<div class=\"col\">\n\t\t\t\t\t\t<div>Error on websocket connect.</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t\t\n\t\t<div class=\"container mc_pane hide\" id=\"pane1\">\n\t\t\t<div class=\"section\">\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col s12 m6\">\n\t\t\t\t\t\t<div style=\"height: 330px; width: 330px;\">\n\t\t\t\t\t\t\t<canvas id=\"myCanvas\" width=\"330\" height=\"330\" style=\"-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-moz-user-select:none;\"></canvas>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"col s12 m6\">\n\t\t\t\t\t\t<div class=\"card-panel\" id=\"status\">\n\t\t\t\t\t\t\t<div id=\"status_pos\">pick a color</div>\n\t\t\t\t\t\t\t<div id=\"status_color\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"col s12 m6\">\n\t\t\t\t\t\t<div class=\"right switch\">Auto:<br>\n\t\t\t\t\t\t\t<label>Off \n\t\t\t\t\t\t\t\t<input id=\"autoSwitch\" type=\"checkbox\"><span class=\"lever\"></span>On \n\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t\t\n\t\t<div class=\"container mc_pane hide\" id=\"pane2\">\n\t\t\t<div class=\"section\">\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<form class=\"col s12\">\n\t\t\t\t\t\t<div class=\"row\">\n\t\t\t\t\t\t\t<div class=\"input-field col s12 l4\">\n\t\t\t\t\t\t\t\t<label for=\"txt_red\">Red</label><br/>\n\t\t\t\t\t\t\t\t<p class=\"range-field\"><input type=\"range\" id=\"rng_red\" min=\"0\" max=\"255\" class=\"update_colors\" /></p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"input-field col s12 l4\">\n\t\t\t\t\t\t\t\t<label for=\"txt_green\">Green</label><br/>\n\t\t\t\t\t\t\t\t<p class=\"range-field\"><input type=\"range\" id=\"rng_green\" min=\"0\" max=\"255\" class=\"update_colors\" /></p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"input-field col s12 l4\">\n\t\t\t\t\t\t\t\t<label for=\"txt_blue\">Blue</label><br/>\n\t\t\t\t\t\t\t\t<p class=\"range-field\"><input type=\"range\" id=\"rng_blue\" min=\"0\" max=\"255\" class=\"update_colors\" /></p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\n\t\t\t\t\t\t<div class=\"row\">\n\t\t\t\t\t\t\t<div class=\"input-field col s12\">\n\t\t\t\t\t\t\t\t<label for=\"txt_delay\">Speed</label><br/>\n\t\t\t\t\t\t\t\t<p class=\"range-field\"><input type=\"range\" id=\"rng_delay\" min=\"0\" max=\"255\" value=\"196\" class=\"update_delay\" /></p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\n\t\t\t\t\t\t<div class=\"row\">\n\t\t\t\t\t\t\t<div class=\"input-field col s12\">\n\t\t\t\t\t\t\t\t<label for=\"txt_delay\">Brightness</label><br/>\n\t\t\t\t\t\t\t\t<p class=\"range-field\"><input type=\"range\" id=\"rng_brightness\" min=\"0\" max=\"255\" value=\"196\" class=\"update_brightness\" /></p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</form>\n\t\t\t\t</div>\n\t\t\t\t\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col s12 m6 l6 btn_grid\">\n\t\t\t\t\t\t<a class=\"btn waves-effect waves-light btn_mode_static blue\" name=\"action\" data-mode=\"off\">OFF\n\t\t\t\t\t\t\t<i class=\"material-icons right\">send</i>\n\t\t\t\t\t\t</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t\t<div class=\"col s12 m6 l6 btn_grid\">\n\t\t\t\t\t\t<a class=\"btn waves-effect waves-light btn_mode_static blue\" name=\"action\" data-mode=\"tv\">TV\n\t\t\t\t\t\t\t<i class=\"material-icons right\">send</i>\n\t\t\t\t\t\t</a>\n\t\t\t\t\t</div>\n\n\t\t\t\t\t<div id=\"modes\">\n\t\t\t\t\t\t<div class=\"input-field col s12\">\n\t\t\t\t\t\t\tLoading animations...\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t\t\n\t\t<footer class=\"page-footer blue\">\n\t\t\t<div class=\"footer-copyright\">\n\t\t\t\t<div class=\"container\">© 2017\n\t\t\t\t<a class=\"grey-text text-lighten-4 right\" href=\"https://github.com/toblum/McLighting\">Project home</a>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</footer>\n\t\t\n\t\t<style type=\"text/css\">\n\t\t\t.btn_grid {\n\t\t\t\tmargin: 7px 0;\n\t\t\t}\n\t\t</style>\n\t\n\t\t<!--Import jQuery before materialize.js-->\n\t\t<script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js\"></script>\n\t\t<script type=\"text/javascript\">(function($){\n$(function(){\n\t  \n\t// Settings\n\tvar host = window.location.hostname;\n\t//host = \"esp8266_02.local\";\n\n\tvar ws_url = 'ws://' + host + ':1880/mclighting/ws';\n\tvar connection;\n\tvar ws_waiting = 0;\n\n\t// ******************************************************************\n\t// Side navigation\n\t// ******************************************************************\n    $('.button-collapse').sideNav();\n\t\n\t// Navlinks\n\t$('#mc-nav').on('click', '.mc-navlink', function(){\n\t\tconsole.log(\"Navigate to pane: \", $(this).data(\"pane\"));\n\t\tshowPane($(this).data(\"pane\"));\n\t});\n\t\n\tfunction showPane(pane) {\n\t\t$('.mc_pane').addClass('hide');\n\t\t$('#' + pane).removeClass('hide');\n\t\t$('.button-collapse').sideNav('hide');\n\t\t\n\t\tif (pane == \"pane2\") {\n\t\t\tsetMainColor();\n\t\t}\n\t}\n\t\n\t\n\t// ******************************************************************\n\t// init()\n\t// ******************************************************************\n\tfunction init() {\n\t\tconsole.log(\"Connection websockets to:\", ws_url);\n\t\tconnection = new WebSocket(ws_url, ['arduino']);\n\t\t\n\t\t// Load modes async\n\t\t$.getJSON(\"http://\" + host + \":\" + location.port + \"/get_modes\", function(data) {\n\t\t\t//console.log(\"modes\", data);\n\t\t\t\n\t\t\tvar modes_html = \"\";\n\t\t\tdata.forEach(function(current_mode){\n\t\t\t\tif (current_mode.mode !== undefined) {\n\t\t\t\t\tmodes_html += '<div class=\"col s12 m6 l6 btn_grid\">'; \n\t\t\t\t\tmodes_html += '<a class=\"btn waves-effect waves-light btn_mode blue\" name=\"action\" data-mode=\"' + current_mode.mode + '\">(' + current_mode.mode +') '+ current_mode.name; \n\t\t\t\t\tmodes_html += '<i class=\"material-icons right\">send</i>';\n\t\t\t\t\tmodes_html += '</a>';\n\t\t\t\t\tmodes_html += '</div>';\n\t\t\t\t}\n\t\t\t});\n\t\t\t\n\t\t\t$('#modes').html(modes_html);\n\t\t});\n\t\t\t\t\n\t\t// When the connection is open, send some data to the server\n\t\tconnection.onopen = function () {\n\t\t\t//connection.send('Ping'); // Send the message 'Ping' to the server\n\t\t\tconsole.log('WebSocket Open');\n\t\t\tshowPane('pane1');\n\t\t};\n\n\t\t// Log errors\n\t\tconnection.onerror = function (error) {\n\t\t\tconsole.log('WebSocket Error ' + error);\n\t\t\t$('#mc-wsloader').addClass('hide');\n\t\t\t$('#mc-wserror').removeClass('hide');\n\t\t};\n\n\t\t// Log messages from the server\n\t\tconnection.onmessage = function (e) {\n\t\t\tconsole.log('WebSocket from server: ' + e.data);\n\t\t\tws_waiting = 0;\n\t\t};\n\t}\n\n\t\n\t// ******************************************************************\n\t// Modes\n\t// ******************************************************************\t\n\t$(\"#pane2\").on(\"click\", \".btn_mode\", function() {\n\t\tvar mode = $(this).attr(\"data-mode\");\n\t\tlast_mode = mode;\n\t\tvar btn = $(this);\n\t\tsetMode(mode, function() {\n\t\t\t$(\".btn_mode, .btn_mode_static\").removeClass(\"red\").addClass(\"blue\");\n\t\t\tbtn.removeClass(\"blue\").addClass(\"red\");\n\t\t});\n\t});\t\n\t\n\t$(\"#pane2\").on(\"click\", \".btn_mode_static\", function() {\n\t\tvar mode = $(this).attr(\"data-mode\");\n\t\tvar btn = $(this);\n\t\t\n\t\twsSendCommand(\"=\" + mode);\n\t\t$(\".btn_mode, .btn_mode_static\").removeClass(\"red\").addClass(\"blue\");\n\t\tbtn.removeClass(\"blue\").addClass(\"red\");\n\t});\n\t\n\t$(\"#pane2\").on(\"change\", \".update_colors\", setMainColor);\t\n\t\n\t$(\"#pane2\").on(\"change\", \".update_delay\", function() {\n\t\tvar delay = $(\"#rng_delay\").val();\t\t\n\t\t\n\t\twsSendCommand(\"?\" + delay);\n\t});\n\t\n\t$(\"#pane2\").on(\"change\", \".update_brightness\", function() {\n\t\tvar brightness = $(\"#rng_brightness\").val();\t\t\n\t\t\n\t\twsSendCommand(\"%\" + brightness);\n\t});\n\n\t$(\"#autoSwitch\").on(\"change\", function () {\n\t\tif ($(this).prop('checked')) {\n\t\t\twsSendCommand(\"start\");\n\t\t} else {\n\t\t\twsSendCommand(\"stop\");\n\t\t}\n\t}); \n\t\n\tfunction setMode(mode, finish_funtion) {\n\t\tconsole.log(\"Mode: \", mode);\n\n\t\twsSendCommand(\"/\" + mode);\n\t\tfinish_funtion();\n\t}\n\t\n\tfunction setMainColor() {\n\t\tvar red = $(\"#rng_red\").val();\n\t\tvar green = $(\"#rng_green\").val();\n\t\tvar blue = $(\"#rng_blue\").val();\t\t\n\t\t\n\t\tvar mainColorHex = componentToHex(red) + componentToHex(green) + componentToHex(blue);\n\t\twsSetMainColor(mainColorHex);\n\t}\n\t\n\t\n\t// ******************************************************************\n\t// WebSocket commands\n\t// ******************************************************************\n\tfunction wsSendCommand(cmd) {\n\t\tconsole.log(\"Send WebSocket command:\", cmd);\n\t\tif (ws_waiting == 0)  {\n\t\t\tconnection.send(cmd);\n\t\t\tws_waiting++;\n\t\t} else {\n\t\t\tconsole.log(\"++++++++ WS call waiting, skip\")\n\t\t}\n\t}\t\n\t\n\t\n\tfunction wsSetAll(hexColor) {\n\t\tconsole.log(\"wsSetAll() Set all colors to:\", hexColor);\n\t\twsSendCommand(\"*\" + hexColor);\n\t}\n\t\n\tfunction wsSetMainColor(hexColor) {\n\t\tconsole.log(\"wsSetMainColor() Set main colors to:\", hexColor);\n\t\twsSendCommand(\"#\" + hexColor);\n\t}\n\t\n\t\n\t\n\t// ******************************************************************\n\t// Colorwheel\n\t// ******************************************************************\n\t// this is supposed to work on mobiles (touch) as well as on a desktop (click)\n\t// since we couldn't find a decent one .. this try of writing one by myself\n\t// + google. swiping would be really nice - I will possibly implement it with\n\t// jquery later - or never.\n\n\tvar canvas = document.getElementById(\"myCanvas\");\n\t// FIX: Cancel touch end event and handle click via touchstart\n\t// canvas.addEventListener(\"touchend\", function(e) { e.preventDefault(); }, false);\n\tcanvas.addEventListener(\"touchmove\", doTouch, false);\n\tcanvas.addEventListener(\"click\", doClick, false);\n\t//canvas.addEventListener(\"mousemove\", doClick, false);\n\n\t\n\tvar context = canvas.getContext('2d');\n\tvar centerX = canvas.width / 2;\n\tvar centerY = canvas.height / 2;\n\tvar innerRadius = canvas.width / 4.5;\n\tvar outerRadius = (canvas.width - 10) / 2\n\n\t//outer border\n\tcontext.beginPath();\n\t//outer circle\n\tcontext.arc(centerX, centerY, outerRadius, 0, 2 * Math.PI, false);\n\t//draw the outer border: (gets drawn around the circle!)\n\tcontext.lineWidth = 4;\n\tcontext.strokeStyle = '#000000';\n\tcontext.stroke();\n\tcontext.closePath();\n\n\t//fill with beautiful colors \n\t//taken from here: http://stackoverflow.com/questions/18265804/building-a-color-wheel-in-html5\n\tfor(var angle=0; angle<=360; angle+=1) {\n\t\tvar startAngle = (angle-2)*Math.PI/180;\n\t\tvar endAngle = angle * Math.PI/180;\n\t\tcontext.beginPath();\n\t\tcontext.moveTo(centerX, centerY);\n\t\tcontext.arc(centerX, centerY, outerRadius, startAngle, endAngle, false);\n\t\tcontext.closePath();\n\t\tcontext.fillStyle = 'hsl('+angle+', 100%, 50%)';\n\t\tcontext.fill();\n\t\tcontext.closePath();\n\t}\n\n\t//inner border\n\tcontext.beginPath();\n\t//context.arc(centerX, centerY, radius, startAngle, endAngle, counterClockwise);\n\tcontext.arc(centerX, centerY, innerRadius, 0, 2 * Math.PI, false);\n\t//fill the center\n\tvar my_gradient=context.createLinearGradient(0,0,170,0);\n\tmy_gradient.addColorStop(0,\"black\");\n\tmy_gradient.addColorStop(1,\"white\");\n\t\n\tcontext.fillStyle = my_gradient;\n\tcontext.fillStyle = \"white\";\n\tcontext.fill();\n\n\t//draw the inner line\n\tcontext.lineWidth = 2;\n\tcontext.strokeStyle = '#000000';\n\tcontext.stroke();\n\tcontext.closePath();\n\n\t//get Mouse x/y canvas position\n\tfunction getMousePos(canvas, evt) {\n\t\tvar rect = canvas.getBoundingClientRect();\n\t\treturn {\n\t\t\tx: evt.clientX - rect.left,\n\t\t\ty: evt.clientY - rect.top\n\t\t};\n\t}\n\n\t//comp to Hex\n\tfunction componentToHex(c) {\n\t\t//var hex = c.toString(16);\n\t\t//return hex.length == 1 ? \"0\" + hex : hex;\n\t\treturn  (\"0\"+(Number(c).toString(16))).slice(-2).toUpperCase();\n\t}\n\n\t//rgb/rgba to Hex\n\tfunction rgbToHex(rgb) {\n\t\treturn componentToHex(rgb[0]) + componentToHex(rgb[1]) + componentToHex(rgb[2]);\n\t}\n\n\t//display the touch/click position and color info\n\tfunction updateStatus(pos, color) {\n\t\tvar hexColor = rgbToHex(color);\n\t\twsSetAll(hexColor);\n\t\t\n\t\thexColor = \"#\" + hexColor;\n\t\t\n\t\t$('#status').css(\"backgroundColor\", hexColor);\n\t\t$('#status_color').text(hexColor + \" - R=\" + color[0] + \", G=\" + color[1] + \", B=\" + color[2]);\n\t\t$('#status_pos').text(\"x: \" + pos.x + \" - y: \" + pos.y);\n\t\t\n\t\t$(\"#rng_red\").val(color[0]);\n\t\t$(\"#rng_green\").val(color[1]);\n\t\t$(\"#rng_blue\").val(color[2]);\n\t}\n\n\t//handle the touch event\n\tfunction doTouch(event) {\n\t\t//to not also fire on click\n\t\tevent.preventDefault();\n\t\tvar el = event.target;\n\t\t\n\t\t//touch position\n\t\tvar pos = {x: Math.round(event.targetTouches[0].pageX - el.offsetLeft),\n\t\t\t\t   y: Math.round(event.targetTouches[0].pageY - el.offsetTop)};\n\t\t//color\n\t\tvar color = context.getImageData(pos.x, pos.y, 1, 1).data;\n\n\t\tupdateStatus(pos, color);\n\t}\n\n\tfunction doClick(event) {   \n\t\t//click position   \n\t\tvar pos = getMousePos(canvas, event);\n\t\t//color\n\t\tvar color = context.getImageData(pos.x, pos.y, 1, 1).data;\n\t\t\n\t\t//console.log(\"click\", pos.x, pos.y, color);\n\t\tupdateStatus(pos, color);\n\t\t\n\t\t//now do sth with the color rgbToHex(color);\n\t\t//don't do stuff when #000000 (outside circle and lines\n\t}\n\n\n\t// ******************************************************************\n\t// main\n\t// ******************************************************************\n\tinit();\n\t\n}); // end of document ready\n})(jQuery); // end of jQuery name space</script>\n\t</body>\n</html>","x":470,"y":100,"wires":[["4fdee411.3e8cfc"]]},{"id":"b58209a0.6e14f8","type":"websocket in","z":"2fdff288.a3e5be","name":"","server":"f18ab300.bdff1","client":"","x":150,"y":540,"wires":[["23b6e95f.633a8e","ebaad967.c82928"]]},{"id":"23b6e95f.633a8e","type":"debug","z":"2fdff288.a3e5be","name":"","active":true,"console":"false","complete":"true","x":770,"y":540,"wires":[]},{"id":"5cb6d875.fb0958","type":"websocket out","z":"2fdff288.a3e5be","name":"McLighting MASTER","server":"","client":"57d23fa8.ce4608","x":720,"y":580,"wires":[]},{"id":"ebaad967.c82928","type":"change","z":"2fdff288.a3e5be","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":580,"wires":[["5cb6d875.fb0958","10be5de0.9ec692"]]},{"id":"6b8defb5.79a958","type":"websocket in","z":"2fdff288.a3e5be","name":"McLighting MASTER","server":"","client":"57d23fa8.ce4608","x":150,"y":760,"wires":[["d354b080.7955e8","fc04327b.a8f8b8"]]},{"id":"d354b080.7955e8","type":"debug","z":"2fdff288.a3e5be","name":"","active":true,"console":"false","complete":"true","x":770,"y":760,"wires":[]},{"id":"10e87fc9.778758","type":"websocket out","z":"2fdff288.a3e5be","name":"","server":"f18ab300.bdff1","client":"","x":730,"y":840,"wires":[]},{"id":"fc04327b.a8f8b8","type":"change","z":"2fdff288.a3e5be","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":800,"wires":[["10e87fc9.778758"]]},{"id":"10be5de0.9ec692","type":"websocket out","z":"2fdff288.a3e5be","name":"McLighting SLAVE 1","server":"","client":"57d23fa8.ce4608","x":720,"y":640,"wires":[]},{"id":"daafd687.a70fc8","type":"template","z":"2fdff288.a3e5be","name":"Modes list","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"[{\"mode\":0, \"name\":\"Static\"},{\"mode\":1, \"name\":\"Blink\"},{\"mode\":2, \"name\":\"Breath\"},{\"mode\":3, \"name\":\"Color Wipe\"},{\"mode\":4, \"name\":\"Color Wipe Inverse\"},{\"mode\":5, \"name\":\"Color Wipe Reverse\"},{\"mode\":6, \"name\":\"Color Wipe Reverse Inverse\"},{\"mode\":7, \"name\":\"Color Wipe Random\"},{\"mode\":8, \"name\":\"Random Color\"},{\"mode\":9, \"name\":\"Single Dynamic\"},{\"mode\":10, \"name\":\"Multi Dynamic\"},{\"mode\":11, \"name\":\"Rainbow\"},{\"mode\":12, \"name\":\"Rainbow Cycle\"},{\"mode\":13, \"name\":\"Scan\"},{\"mode\":14, \"name\":\"Dual Scan\"},{\"mode\":15, \"name\":\"Fade\"},{\"mode\":16, \"name\":\"Theater Chase\"},{\"mode\":17, \"name\":\"Theater Chase Rainbow\"},{\"mode\":18, \"name\":\"Running Lights\"},{\"mode\":19, \"name\":\"Twinkle\"},{\"mode\":20, \"name\":\"Twinkle Random\"},{\"mode\":21, \"name\":\"Twinkle Fade\"},{\"mode\":22, \"name\":\"Twinkle Fade Random\"},{\"mode\":23, \"name\":\"Sparkle\"},{\"mode\":24, \"name\":\"Flash Sparkle\"},{\"mode\":25, \"name\":\"Hyper Sparkle\"},{\"mode\":26, \"name\":\"Strobe\"},{\"mode\":27, \"name\":\"Strobe Rainbow\"},{\"mode\":28, \"name\":\"Multi Strobe\"},{\"mode\":29, \"name\":\"Blink Rainbow\"},{\"mode\":30, \"name\":\"Chase White\"},{\"mode\":31, \"name\":\"Chase Color\"},{\"mode\":32, \"name\":\"Chase Random\"},{\"mode\":33, \"name\":\"Chase Rainbow\"},{\"mode\":34, \"name\":\"Chase Flash\"},{\"mode\":35, \"name\":\"Chase Flash Random\"},{\"mode\":36, \"name\":\"Chase Rainbow White\"},{\"mode\":37, \"name\":\"Chase Blackout\"},{\"mode\":38, \"name\":\"Chase Blackout Rainbow\"},{\"mode\":39, \"name\":\"Color Sweep Random\"},{\"mode\":40, \"name\":\"Running Color\"},{\"mode\":41, \"name\":\"Running Red Blue\"},{\"mode\":42, \"name\":\"Running Random\"},{\"mode\":43, \"name\":\"Larson Scanner\"},{\"mode\":44, \"name\":\"Comet\"},{\"mode\":45, \"name\":\"Fireworks\"},{\"mode\":46, \"name\":\"Fireworks Random\"},{\"mode\":47, \"name\":\"Merry Christmas\"},{\"mode\":48, \"name\":\"Fire Flicker\"},{\"mode\":49, \"name\":\"Fire Flicker (soft)\"},{\"mode\":50, \"name\":\"Fire Flicker (intense)\"},{\"mode\":51, \"name\":\"Circus Combustus\"},{\"mode\":52, \"name\":\"Halloween\"},{\"mode\":53, \"name\":\"Bicolor Chase\"},{\"mode\":54, \"name\":\"Tricolor Chase\"},{\"mode\":55, \"name\":\"ICU\"},{}]","output":"str","x":470,"y":160,"wires":[["2e0b331e.f98a6c"]]},{"id":"b9d8eb9b.aabcf","type":"http in","z":"2fdff288.a3e5be","name":"","url":"/get_modes","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["daafd687.a70fc8"]]},{"id":"2e0b331e.f98a6c","type":"http response","z":"2fdff288.a3e5be","name":"","statusCode":"","headers":{},"x":770,"y":160,"wires":[]},{"id":"20727443.2ec64c","type":"comment","z":"2fdff288.a3e5be","name":"HTTP server for the McLighting web page / modes list","info":"These is mainly the original source code from McLighting, just the endpoint were patched so that they match with Node Red.\nWeb page listens on http://<node_red_url>/mclighting","x":260,"y":60,"wires":[]},{"id":"67d46c16.6525a4","type":"comment","z":"2fdff288.a3e5be","name":"Websocket Input -> split to multiple McLighting nodes","info":"You can output the message to multiple McLighting Nodes. \nJust add websocket output nodes for each McLighting.","x":260,"y":500,"wires":[]},{"id":"2794250e.ef372a","type":"comment","z":"2fdff288.a3e5be","name":"Websocket Output --> Get return value from MASTER and echo to web page","info":"","x":330,"y":720,"wires":[]},{"id":"55e4363d.3eeaf8","type":"mqtt in","z":"81be9764.1b9408","name":"","topic":"brodna/inside_temp","qos":"2","broker":"6aad82d.b027efc","x":210,"y":160,"wires":[["85b5e973.4eb0a","3605c721.f67298"]]},{"id":"aedbce24.0ad3f8","type":"mqtt in","z":"81be9764.1b9408","name":"","topic":"brodna/outside_temp","qos":"2","broker":"6aad82d.b027efc","x":220,"y":220,"wires":[["85b5e973.4eb0a","e17b2e74.1812d8"]]},{"id":"8428912a.4606c","type":"mqtt in","z":"81be9764.1b9408","name":"","topic":"brodna/inside_humid","qos":"2","broker":"6aad82d.b027efc","x":220,"y":320,"wires":[["85b5e973.4eb0a","daaa27a0.622e48"]]},{"id":"876e978b.ccac9","type":"mqtt in","z":"81be9764.1b9408","name":"","topic":"brodna/outside_humid","qos":"2","broker":"6aad82d.b027efc","x":220,"y":380,"wires":[["85b5e973.4eb0a","9a8e4c11.f79d8"]]},{"id":"85b5e973.4eb0a","type":"debug","z":"81be9764.1b9408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":80,"wires":[]},{"id":"fb3f2aac.24f34","type":"influxdb out","z":"81be9764.1b9408","influxdb":"670ed7ae.6d87b","name":"","measurement":"insidetemp","precision":"","retentionPolicy":"","x":1130,"y":160,"wires":[]},{"id":"40771869.88a1c8","type":"influxdb out","z":"81be9764.1b9408","influxdb":"670ed7ae.6d87b","name":"","measurement":"outsidetemp","precision":"","retentionPolicy":"","x":1130,"y":220,"wires":[]},{"id":"6c4fb80c.c07a6","type":"influxdb out","z":"81be9764.1b9408","influxdb":"670ed7ae.6d87b","name":"","measurement":"insidehumid","precision":"","retentionPolicy":"","x":1130,"y":320,"wires":[]},{"id":"6466f573.330a24","type":"influxdb out","z":"81be9764.1b9408","influxdb":"670ed7ae.6d87b","name":"","measurement":"outsidehumid","precision":"","retentionPolicy":"","x":1140,"y":380,"wires":[]},{"id":"3605c721.f67298","type":"function","z":"81be9764.1b9408","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["fb3f2aac.24f34"]]},{"id":"e17b2e74.1812d8","type":"function","z":"81be9764.1b9408","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["40771869.88a1c8"]]},{"id":"daaa27a0.622e48","type":"function","z":"81be9764.1b9408","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["6c4fb80c.c07a6"]]},{"id":"9a8e4c11.f79d8","type":"function","z":"81be9764.1b9408","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["6466f573.330a24"]]},{"id":"a6951a60.e8ac3","type":"influxdb out","z":"7e760aaf.3f62d4","influxdb":"ee04fd2f.bf8098","name":"","measurement":"oventemp","precision":"","retentionPolicy":"","x":800,"y":1440,"wires":[]},{"id":"c6730cf4.e661","type":"function","z":"7e760aaf.3f62d4","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1440,"wires":[["a6951a60.e8ac3"]]},{"id":"ccfffd2b.73abf8","type":"influxdb out","z":"7e760aaf.3f62d4","influxdb":"ee04fd2f.bf8098","name":"","measurement":"watertemp","precision":"","retentionPolicy":"","x":810,"y":1200,"wires":[]},{"id":"50c6c79a.d5bff8","type":"function","z":"7e760aaf.3f62d4","name":"from STRING to INT","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1200,"wires":[["ccfffd2b.73abf8"]]},{"id":"6dbbe55d.072cc4","type":"comment","z":"7e2c3cf9.f2b2ec","name":"add notification to email when MQTT messagaes are not received in some period of time","info":"","x":580,"y":580,"wires":[]},{"id":"44c7b70a.72c92","type":"e-mail","z":"7e2c3cf9.f2b2ec","server":"smtp.gmail.com","port":"465","secure":true,"name":"termetal@gmail.com","dname":"termetal@gmail.com","x":850,"y":640,"wires":[]},{"id":"a406af40.26f318","type":"debug","z":"537f3741.f6f94","name":"","active":false,"console":"false","complete":"true","x":770,"y":160,"wires":[]},{"id":"e08fa58c.84e248","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["12f8c9bf.484036"]]},{"id":"5b7ed6d0.3d1218","type":"exec","z":"537f3741.f6f94","command":"avconv -i rtsp://user:password@192.168.1.71:554/ch01.264 -frames 1 -qscale 1 -f image2 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Grab a frame","x":530,"y":80,"wires":[["c13ca3e2.ca588","7daf6b45.0c8734","69f8bddc.44acbc"],["d270d7f5.3fb27"],["a406af40.26f318","30468c80.583a14"]]},{"id":"c13ca3e2.ca588","type":"ui_template","z":"537f3741.f6f94","group":"ab715aae.06345","name":"Static image","order":2,"width":0,"height":0,"format":"<div height=\"210\" style=\"height: 210px;\">\n<img src=\"/grab.jpg\"/ width=\"280\"><br/>\n<a href=\"/grab.jpg\" target=\"_blank\">Full screen</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":40,"wires":[[]]},{"id":"7daf6b45.0c8734","type":"debug","z":"537f3741.f6f94","name":"","active":false,"console":"false","complete":"true","x":770,"y":80,"wires":[]},{"id":"d270d7f5.3fb27","type":"file","z":"537f3741.f6f94","name":"","filename":"/home/pi/avconv.out","appendNewline":true,"createDir":false,"overwriteFile":"true","x":820,"y":120,"wires":[[]]},{"id":"30468c80.583a14","type":"function","z":"537f3741.f6f94","name":"Statistics","func":"var now = new Date();\nvar stat = context.get(\"stat\");\nif (stat===undefined) {\n    // Initialize the object in case NR restart\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n}\nif (msg.topic===\"reset\") {\n    // Reset message was received: reset statistics\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n} else {\n    // Update statistics\n    stat.count++;\n    if (msg.payload.code===0) {\n        stat.success++;\n    }    \n    stat.rate=stat.success/stat.count;\n    stat.last=now;\n}\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.success = stat.success;\nmsg.rate = Math.floor(stat.rate*100);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Frames: \"+msg.success+\" | \"+msg.rate+\"% | Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n\n// Saving data in the context\ncontext.set(\"stat\",stat);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["74b3d869.11a148","88fa72f1.893d68","512dc26f.4c44dc"]]},{"id":"616c9f13.eb95d","type":"inject","z":"537f3741.f6f94","name":"Reset stat","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":480,"y":280,"wires":[["30468c80.583a14"]]},{"id":"74b3d869.11a148","type":"ui_text","z":"537f3741.f6f94","group":"592a4e0c.ae1258","order":1,"width":0,"height":0,"name":"Last time","label":"Last grab","format":"{{msg.formattedtime}}","layout":"row-spread","x":881.0000839233398,"y":200.39999198913574,"wires":[]},{"id":"88fa72f1.893d68","type":"ui_text","z":"537f3741.f6f94","group":"592a4e0c.ae1258","order":2,"width":0,"height":0,"name":"Frame count","label":"Frames grabbed","format":"{{msg.success}}","layout":"row-spread","x":890.8999900817871,"y":236.1999807357788,"wires":[]},{"id":"512dc26f.4c44dc","type":"ui_text","z":"537f3741.f6f94","group":"592a4e0c.ae1258","order":3,"width":0,"height":0,"name":"Success rate","label":"Success rate","format":"{{msg.rate}} %","layout":"row-spread","x":891.8999633789062,"y":274.1999740600586,"wires":[]},{"id":"33d3a6db.575912","type":"ui_button","z":"537f3741.f6f94","name":"Refresh","group":"ab715aae.06345","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh image","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":84.59999084472656,"y":94.13333797454834,"wires":[["12f8c9bf.484036"]]},{"id":"87f5f01.ceb6b1","type":"debug","z":"537f3741.f6f94","name":"","active":true,"console":"false","complete":"true","x":778.0000152587891,"y":1040.0000228881836,"wires":[]},{"id":"47381441.9d9b3c","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00001525878906,"y":1000.0000228881836,"wires":[["8cebc2ff.d57d8"]]},{"id":"c1d9bfcc.3666f","type":"exec","z":"537f3741.f6f94","command":"avconv -i rtsp://user:password@192.168.1.71:554/ch01.264 -r 10 -t 30 -y -vcodec copy -an ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Capture video","x":548.0000152587891,"y":960.0000228881836,"wires":[["da68785d.9b9408","1be32a.939314d6","69f8bddc.44acbc"],["f5bec561.efca68"],["87f5f01.ceb6b1","618a6222.07b5ac"]]},{"id":"da68785d.9b9408","type":"ui_template","z":"537f3741.f6f94","group":"85527262.2f767","name":"Video link","order":2,"width":0,"height":0,"format":"<div height=\"70\" style=\"height: 70px;\">\n<a href=\"/video.mp4\" target=\"_blank\">Open video</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":788.0000152587891,"y":920.0000228881836,"wires":[[]]},{"id":"1be32a.939314d6","type":"debug","z":"537f3741.f6f94","name":"","active":true,"console":"false","complete":"true","x":778.0000152587891,"y":960.0000228881836,"wires":[]},{"id":"f5bec561.efca68","type":"file","z":"537f3741.f6f94","name":"","filename":"/home/pi/avconv.out","appendNewline":true,"createDir":false,"overwriteFile":"true","x":828.0000152587891,"y":1000.0000228881836,"wires":[[]]},{"id":"618a6222.07b5ac","type":"function","z":"537f3741.f6f94","name":"Statistics","func":"var now = new Date();\nvar stat = context.get(\"stat\");\nif (stat===undefined) {\n    // Initialize the object in case NR restart\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n}\nif (msg.topic===\"reset\") {\n    // Reset message was received: reset statistics\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n} else {\n    // Update statistics\n    stat.count++;\n    if (msg.payload.code===0) {\n        stat.success++;\n    }    \n    stat.rate=stat.success/stat.count;\n    stat.last=now;\n}\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.success = stat.success;\nmsg.rate = Math.floor(stat.rate*100);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Videos: \"+msg.success+\" | \"+msg.rate+\"% | Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n\n// Saving data in the context\ncontext.set(\"stat\",stat);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":668.0000152587891,"y":1160.0000228881836,"wires":[["eb5bda41.e51cf","4d0f35d8.b7db64","c7e22d17.642b6"]]},{"id":"1c744300.793d6d","type":"inject","z":"537f3741.f6f94","name":"Reset stat","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":468.00001525878906,"y":1160.0000228881836,"wires":[["618a6222.07b5ac"]]},{"id":"eb5bda41.e51cf","type":"ui_text","z":"537f3741.f6f94","group":"25ef8b16.7c86a4","order":1,"width":0,"height":0,"name":"Video Last time","label":"Last grab","format":"{{msg.formattedtime}}","layout":"row-spread","x":888.0000152587891,"y":1080.0000228881836,"wires":[]},{"id":"4d0f35d8.b7db64","type":"ui_text","z":"537f3741.f6f94","group":"25ef8b16.7c86a4","order":2,"width":0,"height":0,"name":"Video count","label":"Video files","format":"{{msg.success}}","layout":"row-spread","x":878.0000152587891,"y":1120.0000228881836,"wires":[]},{"id":"c7e22d17.642b6","type":"ui_text","z":"537f3741.f6f94","group":"25ef8b16.7c86a4","order":3,"width":0,"height":0,"name":"Video Success rate","label":"Success rate","format":"{{msg.rate}} %","layout":"row-spread","x":898.0000152587891,"y":1160.0000228881836,"wires":[]},{"id":"91482f69.f0ab2","type":"ui_button","z":"537f3741.f6f94","name":"Capture","group":"85527262.2f767","order":1,"width":0,"height":0,"passthru":false,"label":"Capture video","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":112.60000610351562,"y":954.1333608627319,"wires":[["8cebc2ff.d57d8"]]},{"id":"227c15ca.d395ea","type":"comment","z":"537f3741.f6f94","name":"Frame grabber","info":"This section of the flow is responsible for \ngrabbing a single out of the RTSP feed of the IP\nCamera. It uses avconv to do that which is part\nof the libav-tools for raspberry pi.\n\nThe trigger can be an inject, or a UI button.\nThe statistic node keeps a track of the number of\ngrabbed frames and the success rate (when the\nvideo conversion/grabbing was successful). The \nStatistic node also has a reset input which can \nbe used to periodically reset the stats (e.g.\ndaily, weekly).\n\nI directed the second output of the Exec node to\na file, as the output of the avconv is usually \nquite long and if there are errors you don't\nsee the entire output in the debug window, so in\nthat case just open to output and see what the issue\nis.","x":125.625,"y":36.5000057220459,"wires":[]},{"id":"5e7921ed.091de","type":"comment","z":"537f3741.f6f94","name":"Video capture","info":"This section of the flow captures a fixed length \nvideo of the RTSP feed.\nIt works very similar to the frame capture above,\nthe only main difference is the parameters in the\ncommmand line.","x":118.00001525878906,"y":900.0000228881836,"wires":[]},{"id":"12f8c9bf.484036","type":"change","z":"537f3741.f6f94","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["5b7ed6d0.3d1218"]]},{"id":"8cebc2ff.d57d8","type":"change","z":"537f3741.f6f94","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/node-red-static/video.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.00001525878906,"y":960.0000228881836,"wires":[["c1d9bfcc.3666f"]]},{"id":"5a16b411.f899a4","type":"function","z":"537f3741.f6f94","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["5b7ed6d0.3d1218"]]},{"id":"4bde829c.6cfbe4","type":"inject","z":"537f3741.f6f94","name":"Grab a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":380,"wires":[["5a16b411.f899a4"]]},{"id":"f7441325.b323b","type":"function","z":"537f3741.f6f94","name":"Save to DB","func":"// only run this if the topic contains 'store', so the manual frame grabs do not get\n// stored in the database\nif (msg.topic.indexOf(\"store\") !== -1) {\n\n    msg.topic = \"INSERT INTO nvr (type,path,wwwpath,filename,epoch) \" +\n            \"VALUES ('\"+msg.type+\"','\"+msg.path+\"','\"+msg.wwwpath+\"','\"+msg.file+\"',\"+msg.epoch+\");\";\n    \n    node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":340,"wires":[["ffe5b7ca.fb50f"]]},{"id":"7ae0cc90.6f3b84","type":"function","z":"537f3741.f6f94","name":"Video capture","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"video_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".mp4\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"videotest\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":328.00001525878906,"y":1080.0000228881836,"wires":[["c1d9bfcc.3666f"]]},{"id":"95cf2df6.aef2","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00001525878906,"y":1080.0000228881836,"wires":[["7ae0cc90.6f3b84"]]},{"id":"c29f0da6.3b033","type":"function","z":"537f3741.f6f94","name":"Email image","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store|email\";                                  // Flag to store this image in the DB\nmsg.type = \"front\";                                         // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["5b7ed6d0.3d1218"]]},{"id":"29d0e1fd.0e93a6","type":"inject","z":"537f3741.f6f94","name":"Email a pic","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":420,"wires":[["c29f0da6.3b033"]]},{"id":"69f8bddc.44acbc","type":"function","z":"537f3741.f6f94","name":"Dummy","func":"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":380,"wires":[["f7441325.b323b","3d27d008.d1c2b8","7239cf16.49f548","1e78451d.4cca93","c8b50873.4c5068"]]},{"id":"3d27d008.d1c2b8","type":"function","z":"537f3741.f6f94","name":"Compose email","func":"// only run this if the topic contains 'email', so other types do not get emailed\nif (msg.topic.indexOf(\"email\") !== -1) {\n\n    msg.filename = msg.path + msg.file;\n    \n    node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":400,"wires":[["1908f7ab.e621f"]]},{"id":"62490109.07b478","type":"e-mail","z":"537f3741.f6f94","server":"smtp.gmail.com","port":"465","secure":true,"name":"youremail@gmail.com","dname":"Email notification","x":1390,"y":400,"wires":[]},{"id":"1908f7ab.e621f","type":"change","z":"537f3741.f6f94","name":"Set up email","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": msg.file, \t    \"path\": msg.filename,\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Front door motion","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Motion has been detected at the front door<br>In attachment you can find a snapshot.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":400,"wires":[["62490109.07b478"]]},{"id":"42d7cbc7.922fe4","type":"comment","z":"537f3741.f6f94","name":"Image / Video Log","info":"","x":138.00000762939453,"y":1664.0000324249268,"wires":[]},{"id":"cfed783d.99757","type":"template","z":"537f3741.f6f94","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>ID</th><th>Type</th><th>Timestamp</th><th>File</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{id}}</td>\n            <td>{{type}}</td>\n            <td>{{timestamp}}</td>\n            <td><a href=\"{{wwwpath}}{{filename}}\" target=\"_blank\">{{filename}}</a></td>\n        </tr>\n    {{/payload}}\n</table>\n","x":737.0000076293945,"y":2039.0000324249268,"wires":[["5588344a.8bfa44"]]},{"id":"69ffc4fa.4bd24c","type":"function","z":"537f3741.f6f94","name":"SQL","func":"context.set(msg.topic,msg.payload);\n\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nvar enddate = 0;\n\nmsg.topic = \"SELECT * FROM nvr WHERE id>0 \";\n\nif (context.get(\"type\")!==undefined) {\n    if (context.get(\"type\")!==\"*\") {\n        msg.topic = msg.topic + \" AND type = '\"+context.get(\"type\")+\"'\";\n    }\n}\n\nif (context.get(\"time\")!==undefined) {\n    switch (context.get(\"time\")) {\n        case 0:\n            fromdate = epoch - 1000*60*60*24;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n        case 1:\n            fromdate = epoch - 1000*60*60*24*7;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n        case 2:\n            fromdate = epoch - 1000*60*60*24*30;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n    }\n}\n\n// msg.topic = msg.topic.substring(0,msg.topic.length-2);\nmsg.topic = msg.topic+ \" ORDER BY id\";\nreturn msg;","outputs":1,"noerr":0,"x":324.00000762939453,"y":2038.0000324249268,"wires":[["2a1596f2.4f77da"]]},{"id":"86ad65ac.6ad0b","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.00000762939453,"y":2038.0000324249268,"wires":[["69ffc4fa.4bd24c"]]},{"id":"8de6c4d6.322458","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":278.00000762939453,"y":1904.0000324249268,"wires":[["30500044.7a0a48"]]},{"id":"30500044.7a0a48","type":"change","z":"537f3741.f6f94","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":458.00000762939453,"y":1904.0000324249268,"wires":[["cd731ebe.5788a"]]},{"id":"14376cc1.9db66b","type":"function","z":"537f3741.f6f94","name":"Process systems","func":"var output = [];\noutput.push({\"All systems\":\"*\"});\nfor (var i = 0; i < msg.payload.length; i++) {\n    obj = {};\n    obj [msg.payload[i].type]=msg.payload[i].type;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":478.00000762939453,"y":1784.0000324249268,"wires":[["c409cc2e.ef3a4"]]},{"id":"c190408a.d2e09","type":"ui_button","z":"537f3741.f6f94","name":"","group":"3758c297.89a576","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"refresh","x":668.0000076293945,"y":1844.0000324249268,"wires":[["69ffc4fa.4bd24c"]]},{"id":"cd731ebe.5788a","type":"ui_dropdown","z":"537f3741.f6f94","name":"Time filter","label":"","place":"","group":"3758c297.89a576","order":3,"width":"4","height":"1","passthru":true,"options":[{"label":"Last 24 hrs","value":0,"type":"num"},{"label":"Last 7 days","value":1,"type":"num"},{"label":"Last 30 days","value":2,"type":"num"},{"label":"All","value":3,"type":"num"}],"payload":"","topic":"time","x":668.0000076293945,"y":1904.0000324249268,"wires":[["69ffc4fa.4bd24c"]]},{"id":"c409cc2e.ef3a4","type":"ui_dropdown","z":"537f3741.f6f94","name":"Type","label":"","place":"","group":"3758c297.89a576","order":5,"width":"5","height":"1","passthru":true,"options":[{"label":"All","value":"*","type":"str"},{"label":"timelapse","value":"timelapse","type":"str"},{"label":"front","value":"front","type":"str"},{"label":"videotest","value":"videotest","type":"str"}],"payload":"","topic":"type","x":678.0000076293945,"y":1784.0000324249268,"wires":[["69ffc4fa.4bd24c"]]},{"id":"5588344a.8bfa44","type":"ui_template","z":"537f3741.f6f94","group":"3758c297.89a576","name":"Log output","order":6,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" height=\"600\" style=\"height: 600px;\"><br/></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":958.0000076293945,"y":2039.0000324249268,"wires":[[]]},{"id":"fd0a7a28.7d2968","type":"inject","z":"537f3741.f6f94","name":"Email 3 pics","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":460,"wires":[["4f8f71a0.02d508"]]},{"id":"4f8f71a0.02d508","type":"function","z":"537f3741.f6f94","name":"1st img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/1|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["9f015a41.c5461","5b7ed6d0.3d1218"]]},{"id":"5ee1a07c.fd99a","type":"function","z":"537f3741.f6f94","name":"2st img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/2|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["3131f20e.4cc346","5b7ed6d0.3d1218"]]},{"id":"c34ee2d4.6eb188","type":"function","z":"537f3741.f6f94","name":"3rd img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/3|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["5b7ed6d0.3d1218"]]},{"id":"9f015a41.c5461","type":"delay","z":"537f3741.f6f94","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":520,"wires":[["5ee1a07c.fd99a"]]},{"id":"3131f20e.4cc346","type":"delay","z":"537f3741.f6f94","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":580,"wires":[["c34ee2d4.6eb188"]]},{"id":"7239cf16.49f548","type":"function","z":"537f3741.f6f94","name":"Compose email 3","func":"// only run this if the topic contains 'email', so other types do not get emailed\nif (msg.topic.indexOf(\"3mail\") !== -1) {\n\n    if (msg.topic.indexOf(\"/1\") !== -1) {\n        context.set(\"file1\", msg.path + msg.file);\n    }\n    if (msg.topic.indexOf(\"/2\") !== -1) {\n        context.set(\"file2\", msg.path + msg.file);\n    }\n    if (msg.topic.indexOf(\"/3\") !== -1) {\n        msg.file3 = msg.path + msg.file;\n        msg.file1 = context.get(\"file1\");\n        msg.file2 = context.get(\"file2\");\n        msg.payload = msg.file1 + \" \" + msg.file2 + \" \" + msg.file3;\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n        return msg;\n    }\n    \n}","outputs":1,"noerr":0,"x":1010,"y":460,"wires":[["267112a8.ccae26"]]},{"id":"267112a8.ccae26","type":"change","z":"537f3741.f6f94","name":"Set up email","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": \"Image1.jpg\", \t    \"path\": msg.file1,\t    \"content\": $$.payload\t},\t{\t    \"filename\": \"Image2.jpg\", \t    \"path\": msg.file2,\t    \"content\": $$.payload\t},\t{\t    \"filename\": \"Image3.jpg\", \t    \"path\": msg.file3,\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Front door motion","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Motion has been detected at the front door<br>In attachment you can find a 3 snapshots.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":460,"wires":[["62490109.07b478"]]},{"id":"383077f2.f7e1c","type":"delay","z":"537f3741.f6f94","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":520,"wires":[["3d448c68.50ef04"]]},{"id":"3d448c68.50ef04","type":"exec","z":"537f3741.f6f94","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete images","x":1380,"y":520,"wires":[[],[],[]]},{"id":"74d318d7.cd47d","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 3 * * *","once":false,"x":138.00000762939453,"y":1724.0000324249268,"wires":[["fae4d0b7.584728"]]},{"id":"fae4d0b7.584728","type":"change","z":"537f3741.f6f94","name":"Set SQL","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT DISTINCT type from nvr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":308.00000762939453,"y":1724.0000324249268,"wires":[["c9b9cec.6763db"]]},{"id":"1e78451d.4cca93","type":"function","z":"537f3741.f6f94","name":"Delete pictures","func":"// only run this if the topic contains 'email', so other types do not get emailed\nvar send = false;\nif (msg.topic.indexOf(\"delete\") !== -1) {\n\n    msg.payload = msg.path + msg.file;\n    send = true;\n    if (msg.topic.indexOf(\"/1\") !== -1) {\n        context.set(\"file1\", msg.path + msg.file);\n        send = false;\n    }\n    if (msg.topic.indexOf(\"/2\") !== -1) {\n        context.set(\"file2\", msg.path + msg.file);\n        send = false;\n    }\n    if (msg.topic.indexOf(\"/3\") !== -1) {\n        msg.file3 = msg.path + msg.file;\n        msg.file1 = context.get(\"file1\");\n        msg.file2 = context.get(\"file2\");\n        msg.payload = msg.file1 + \" \" + msg.file2 + \" \" + msg.file3;\n        send = true;\n    } \n        \n    if (send) {\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n        return msg;\n    }\n\n    \n}","outputs":1,"noerr":0,"x":1000,"y":520,"wires":[["383077f2.f7e1c"]]},{"id":"c8b50873.4c5068","type":"function","z":"537f3741.f6f94","name":"Tweet image","func":"// only run this if the topic contains 'email', so other types do not get emailed\nif (msg.topic.indexOf(\"tweet\") !== -1) {\n\n    msg.filename = msg.path + msg.file;\n    \n    node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":580,"wires":[["90afde2f.039c38"]]},{"id":"3738cc42.950f8c","type":"twitter out","z":"537f3741.f6f94","twitter":"","name":"Tweet","x":1510,"y":580,"wires":[]},{"id":"a5b9046f.8093b8","type":"change","z":"537f3741.f6f94","name":"Set up tweet","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Image from the front door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":580,"wires":[["3738cc42.950f8c","5e988940.c4d79"]]},{"id":"90afde2f.039c38","type":"file in","z":"537f3741.f6f94","name":"Read image","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1170,"y":580,"wires":[["a5b9046f.8093b8","caf10cb2.049328"]]},{"id":"d20ad91d.3ce48","type":"inject","z":"537f3741.f6f94","name":"Tweet a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":620,"wires":[["48a03853.a93d8"]]},{"id":"48a03853.a93d8","type":"function","z":"537f3741.f6f94","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"tweet|delete\";                                 // Flag to store this image in the DB\nmsg.type = \"timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["5b7ed6d0.3d1218"]]},{"id":"98ca059.d9199f8","type":"inject","z":"537f3741.f6f94","name":"Grab a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":810,"y":640,"wires":[["a57b7c8c.86a268"]]},{"id":"a57b7c8c.86a268","type":"change","z":"537f3741.f6f94","name":"Set filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/pi/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":640,"wires":[["90afde2f.039c38"]]},{"id":"caf10cb2.049328","type":"debug","z":"537f3741.f6f94","name":"","active":true,"console":"false","complete":"true","x":1365.8571515764509,"y":650.5714198521205,"wires":[]},{"id":"5e988940.c4d79","type":"debug","z":"537f3741.f6f94","name":"","active":true,"console":"false","complete":"true","x":1550,"y":640,"wires":[]},{"id":"fca33dfe.4692a8","type":"comment","z":"537f3741.f6f94","name":"Delete old pictures","info":"","x":138.00000762939453,"y":2124.0000324249268,"wires":[]},{"id":"fc709879.4b6fc","type":"inject","z":"537f3741.f6f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00000762939453,"y":2184.0000324249268,"wires":[["fdb96ee3.4a4a38"]]},{"id":"fdb96ee3.4a4a38","type":"function","z":"537f3741.f6f94","name":"SQL (older than 30 days)","func":"var d = new Date();\nvar epoch = d.getTime();\n\n// today - 30 days\nvar fromdate = epoch - 1000*60*60*24*30;\n\nmsg.topic = \"SELECT * FROM nvr WHERE epoch < \"+fromdate;\n\nreturn msg;","outputs":1,"noerr":0,"x":358.00000762939453,"y":2184.0000324249268,"wires":[["c62b6f3f.c7b1a"]]},{"id":"5657c709.42e868","type":"exec","z":"537f3741.f6f94","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete images","x":1348.0000076293945,"y":2184.0000324249268,"wires":[[],[],[]]},{"id":"2e6edf3c.b12ba","type":"split","z":"537f3741.f6f94","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":798.0000076293945,"y":2184.0000324249268,"wires":[["b427da4d.21c7c"]]},{"id":"b427da4d.21c7c","type":"delay","z":"537f3741.f6f94","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"50","randomLast":"500","randomUnits":"milliseconds","drop":false,"x":948.0000076293945,"y":2184.0000324249268,"wires":[["c3a5aee0.b343","2eeb3885.02782"]]},{"id":"c3a5aee0.b343","type":"change","z":"537f3741.f6f94","name":"Set SQL","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"DELETE * FROM nvr where filename='\" & payload.filename & \"'\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1128.0000076293945,"y":2244.0000324249268,"wires":[["612f8997.04cd5"]]},{"id":"2eeb3885.02782","type":"change","z":"537f3741.f6f94","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.path & payload.filename","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.0000076293945,"y":2184.0000324249268,"wires":[["5657c709.42e868"]]},{"id":"de6b6ada.229b48","type":"inject","z":"537f3741.f6f94","name":"Noon timelapse","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":706,"wires":[["f151f259.c85bc8"]]},{"id":"f151f259.c85bc8","type":"function","z":"537f3741.f6f94","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"noon_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"Noon timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":706,"wires":[["5b7ed6d0.3d1218"]]},{"id":"ffe5b7ca.fb50f","type":"sqlite","z":"537f3741.f6f94","mydb":"","sql":"","name":"Node Red DB","x":1180,"y":340,"wires":[[]]},{"id":"2a1596f2.4f77da","type":"sqlite","z":"537f3741.f6f94","mydb":"1c25415d.b8427f","name":"Node Red DB","x":532.0000076293945,"y":2038.0000324249268,"wires":[["cfed783d.99757"]]},{"id":"c9b9cec.6763db","type":"sqlite","z":"537f3741.f6f94","mydb":"1c25415d.b8427f","name":"Node Red DB","x":508.00000762939453,"y":1724.0000324249268,"wires":[["14376cc1.9db66b"]]},{"id":"c62b6f3f.c7b1a","type":"sqlite","z":"537f3741.f6f94","mydb":"1c25415d.b8427f","name":"Node Red DB","x":608.0000076293945,"y":2184.0000324249268,"wires":[["2e6edf3c.b12ba"]]},{"id":"612f8997.04cd5","type":"sqlite","z":"537f3741.f6f94","mydb":"1c25415d.b8427f","name":"Node Red DB","x":1348.0000076293945,"y":2244.0000324249268,"wires":[[]]},{"id":"963cd282.c77d78","type":"function","z":"7e2c3cf9.f2b2ec","name":"","func":"var now = new Date();\n\n// Create formatted time\n\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\nvar formateddate = dd + \"/\" + mm + \"/\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.topic = \"ALARM - Pzem niektywny !!!!!\";\nmsg.payload = \" Niestety, PZEM przestal nadawac o czasie: \" + formateddate + \". Prosze zrestartowac PZEM ...\"\n\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.type = \"front\";                                         // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":640,"wires":[["9feb794d.d45aa8","44c7b70a.72c92"]]},{"id":"9feb794d.d45aa8","type":"debug","z":"7e2c3cf9.f2b2ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":700,"wires":[]},{"id":"a340245d.1368e","type":"function","z":"7e2c3cf9.f2b2ec","name":"setTimeout","func":"if (timeoutHandle(\n    clearTimeout(timeoutHandle)\n    ));\n\nvar timeoutHandle = setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\"msg.payload released\"});\n    msg['payload'] = \"I'm OUT\";\n    node.send(msg);\n}, 3000);\n\nnode.status({fill:\"blue\", shape:\"ring\", text:'blocking msg ...'});","outputs":1,"noerr":0,"x":480,"y":700,"wires":[[]]},{"id":"3db14d89.bc41aa","type":"delay","z":"7e2c3cf9.f2b2ec","name":"count 3 min","pauseType":"delayv","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":640,"wires":[["963cd282.c77d78"]]},{"id":"739e8041.c22a78","type":"function","z":"7e2c3cf9.f2b2ec","name":"","func":"msg.reset = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":640,"wires":[["3db14d89.bc41aa"]]},{"id":"30f0dad.041ee26","type":"delay","z":"7e2c3cf9.f2b2ec","name":"reset 3 min counter","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":680,"wires":[["3db14d89.bc41aa"]]},{"id":"b957535f.4aeaf","type":"function","z":"7e2c3cf9.f2b2ec","name":"czas HH:MM","func":"var d = new Date();\n\n    dformat = \n        \n    [ d.getDate(),\n    \n    d.getMonth()+1,\n\n    d.getFullYear()].join('/')+' '+\n\n    [('0' + d.getHours()).slice(-2),\n\n    ('0' + d.getMinutes()).slice(-2),\n    \n    ('0' + d.getSeconds()).slice(-2) ].join(':');   \n\nmsg.payload = dformat;\n\nreturn msg; ","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["74e318f6.08ede8"]]},{"id":"74e318f6.08ede8","type":"ui_text","z":"7e2c3cf9.f2b2ec","group":"14acba7a.c871ae","order":5,"width":"6","height":"1","name":"","label":"Energia odczyt z: ","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":380,"wires":[]},{"id":"ec2e489.c6e44b8","type":"mqtt in","z":"7e760aaf.3f62d4","name":"","topic":"tele/RF_Bridge/RESULT","qos":"2","broker":"6aad82d.b027efc","x":390,"y":40,"wires":[["98b4688c.e2ca1"]]},{"id":"770c11b5.ba9af","type":"debug","z":"7e760aaf.3f62d4","name":"tele/RF_Bridge > msg.sensorId","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":40,"wires":[]},{"id":"99579549.7b7d2","type":"comment","z":"7e760aaf.3f62d4","name":"Motion sensor:","info":"","x":160,"y":40,"wires":[]},{"id":"44c8dbfd.6306f4","type":"comment","z":"7e760aaf.3f62d4","name":"Alexa oven activation:","info":"","x":180,"y":100,"wires":[]},{"id":"98b4688c.e2ca1","type":"function","z":"7e760aaf.3f62d4","name":"Retrieve sensor Data from msg.payload","func":"// data = msg.payload[\"RfReceived\"][\"Data\"];\n// message = msg.topic;\nlet data = msg.payload;\nlet dataPos = data.indexOf(\"Data\");\nlet sensorId = data.slice(dataPos+7, dataPos+13);\n\nlet d = new Date();\ndformat =\n[d.getDate(),\nd.getMonth()+1,\nd.getFullYear()].join('/')+' '+\n[('0' + d.getHours()).slice(-2),\n('0' + d.getMinutes()).slice(-2),\n('0' + d.getSeconds()).slice(-2)].join(':');\n\nnode.status({fill:\"blue\", shape:\"ring\", text: dformat + \" > \" + sensorId});\n\nmsg.timestamp = dformat;\nmsg.sensorId = sensorId;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":700,"y":40,"wires":[["770c11b5.ba9af"]]},{"id":"870f7349.8f506","type":"ui_level","z":"7e760aaf.3f62d4","group":"14acba7a.c871ae","order":10,"width":0,"height":0,"name":"temperatura pieca","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"20","max":"50","segWarn":"","segHigh":"","unit":"C","layout":"ph","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":730,"y":1100,"wires":[]},{"id":"92de1a00.a7e17","type":"inject","z":"2fdff288.a3e5be","name":"brightness > %255","topic":"","payload":"%255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["ebaad967.c82928"]]},{"id":"96f267bb.622388","type":"inject","z":"2fdff288.a3e5be","name":"brightness > %10","topic":"","payload":"%10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["ebaad967.c82928"]]},{"id":"c822473.66d7438","type":"inject","z":"2fdff288.a3e5be","name":"speed > ?50","topic":"","payload":"?50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["ebaad967.c82928"]]},{"id":"132a6cf8.7aad73","type":"inject","z":"2fdff288.a3e5be","name":"mode > /46","topic":"","payload":"/46","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["ebaad967.c82928"]]},{"id":"f6397c5a.29259","type":"inject","z":"2fdff288.a3e5be","name":"mode > /0","topic":"","payload":"/0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["ebaad967.c82928"]]},{"id":"c059660c.304908","type":"mqtt in","z":"2fdff288.a3e5be","name":"","topic":"tele/RF_Bridge/RESULT","qos":"2","broker":"6aad82d.b027efc","x":530,"y":300,"wires":[["f49c62d3.3d2e1"]]},{"id":"3acf8eb8.482702","type":"debug","z":"2fdff288.a3e5be","name":"tele/RF_Bridge > msg.sensorId","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":380,"wires":[]},{"id":"85c5f19a.c85798","type":"comment","z":"2fdff288.a3e5be","name":"Direct debug and motion sensor reading:","info":"","x":220,"y":240,"wires":[]},{"id":"f49c62d3.3d2e1","type":"function","z":"2fdff288.a3e5be","name":"Retrieve sensor Data from msg.payload","func":"// data = msg.payload[\"RfReceived\"][\"Data\"];\n// message = msg.topic;\nlet data = msg.payload;\nlet dataPos = data.indexOf(\"Data\");\nlet sensorId = data.slice(dataPos+7, dataPos+13);\n\nlet d = new Date();\ndformat =\n[d.getDate(),\nd.getMonth()+1,\nd.getFullYear()].join('/')+' '+\n[('0' + d.getHours()).slice(-2),\n('0' + d.getMinutes()).slice(-2),\n('0' + d.getSeconds()).slice(-2)].join(':');\n\nnode.status({fill:\"blue\", shape:\"ring\", text: dformat + \" > \" + sensorId});\n\nmsg.timestamp = dformat;\nmsg.sensorId = sensorId;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["3acf8eb8.482702","61582d4e.da7524"]]},{"id":"61582d4e.da7524","type":"function","z":"2fdff288.a3e5be","name":"motion in kitchen","func":"if(msg.sensorId === \"D3E93E\"){\n \n node.status({fill:\"blue\", shape:\"ring\", text: msg.timestamp + \" > \" + msg.sensorId});\n msg.payload = \"/0\"\n \n return msg;   \n}","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["e3f77725.b48568"]]},{"id":"e3f77725.b48568","type":"trigger","z":"2fdff288.a3e5be","op1":"/0","op2":"/46","op1type":"str","op2type":"str","duration":"15","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":710,"y":380,"wires":[["ebaad967.c82928"]]},{"id":"5a0dd6a2.a5c8","type":"mqtt in","z":"6b3eb65a.f1263","name":"","topic":"+/tasmotaTest1/#","qos":"2","broker":"9c16df22.8dcaf","x":600,"y":80,"wires":[["5437da24.33a7bc"]]},{"id":"5437da24.33a7bc","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":870,"y":80,"wires":[]},{"id":"76ecc656.638cc","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["5b71faa9.5d63e4"]]},{"id":"5b71faa9.5d63e4","type":"mqtt out","z":"6b3eb65a.f1263","name":"","topic":"cmnd/tasmotaTest1/status","qos":"","retain":"","broker":"6aad82d.b027efc","x":360,"y":80,"wires":[]},{"id":"8ee88993.771ef","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["3038f160.28377e"]]},{"id":"3038f160.28377e","type":"mqtt out","z":"6b3eb65a.f1263","name":"","topic":"sonoffs/status","qos":"","retain":"","broker":"6aad82d.b027efc","x":320,"y":380,"wires":[]},{"id":"a995f359.f8f07","type":"mqtt in","z":"6b3eb65a.f1263","name":"","topic":"+/tasmotaTest2/#","qos":"2","broker":"9c16df22.8dcaf","x":600,"y":240,"wires":[["8f586ec1.e53988"]]},{"id":"8f586ec1.e53988","type":"debug","z":"6b3eb65a.f1263","name":"","active":true,"console":"false","complete":"false","x":870,"y":240,"wires":[]},{"id":"71ebd765.6cc9a8","type":"mqtt out","z":"6b3eb65a.f1263","name":"","topic":"cmnd/tasmotaTest2/status","qos":"","retain":"","broker":"6aad82d.b027efc","x":360,"y":240,"wires":[]},{"id":"c41a945.4045268","type":"inject","z":"6b3eb65a.f1263","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["71ebd765.6cc9a8"]]}]